Source: knowledgejunkie-dotfiles-deps
Section: metapackages
Priority: optional
Standards-Version: 4.5.0
Maintainer: Nick Morrott <knowledgejunkie@gmail.com>
Vcs-Browser: https://github.com/knowledgejunkie/dotfiles-deps
Vcs-Git: https://github.com/knowledgejunkie/dotfiles-deps.git
Build-Depends: debhelper-compat (= 12)

Package: knowledgejunkie-dotfiles-deps
Architecture: all
Depends:
 abcde,
 alsa-utils,
 build-essential,
 cmake,
 compton,
 connman-gtk,
 evtest,
 exuberant-ctags,
 fd-find,
 feh,
 fonts-font-awesome,
 fonts-inconsolata,
 fzf,
 git,
 git-hub,
 gron,
 i3,
 i3blocks,
 imagemagick,
 intel-microcode,
 irssi,
 jq,
 libboost-all-dev,
 libcapture-tiny-perl,
 libclang1,
 libfont-freetype-perl,
 libimage-exiftool-perl,
 libjson-xs-perl,
 lightdm,
 light-locker,
 playerctl,
 pulseaudio,
 pulseaudio-utils,
 python3-all-dev,
 python3-lldb-8,
 python3-pygments,
 ranger,
 rename,
 ripgrep,
 rofi,
 rxvt-unicode,
 screenfetch,
 scrot,
 sxiv,
 thinkfan,
 tidy,
 tlp,
 tmux,
 tmuxinator,
 udiskie,
 vim-gtk,
 x11-utils,
 x11-xserver-utils,
 xautolock,
 xbindkeys,
 xdotool,
 xml-twig-tools,
 xsel,
 zathura,
 zsh,
 ${misc:Depends},
Homepage: https://github.com/knowledgejunkie/dotfiles
Description: metapackage to install dependencies for knowledgejunkie's dotfiles
 A metapackage to install applications and libraries configured with
 knowledgejunkie's dotfiles.
