# /etc/systemd/system/connman-resume.service
# Install with `systemctl enable connman-resume.service`

[Unit]
Description=Restart connman on resume.
Documentation=https://wiki.archlinux.org/index.php/Talk:ConnMan
After=suspend.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/systemctl restart connman
ExecStart=/bin/echo connman-resume: Successfully restarted connman

[Install]
WantedBy=suspend.target
